<!DOCTYPE html>
<html>
<head>
    <title>CP-02</title>
    <Link rel="stylesheet" href="https://bootswatch.com/5/vapor/bootstrap.min.css" />
</head>
<body>
    <div>
        <h1>Controle de Estoque</h1>
        <hr />
        @RenderBody()
    </div>
</body>
</html>